/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/

/*********************
LINK STYLES
*********************/
a, a:visited {

	// Mobile tap color
	&:link {
		//Highlight links on iOS, Similar to :hover for mobile devices.
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

	// Removing text decoration from all headline links
	a {
		text-decoration: none;
	}
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {
	
}

h5, .h5 {

}

/*********************
HEADER STYLES
*********************/
.header {
	ul.off-canvas-list li {
		list-style: none;
	}
}
    
/*********************
NAVIGATION STYLES
*********************/
.top-bar {
	.title-area {
		z-index: 1;
	}
} 

.off-canvas-list {
	ul {
		margin-left: 0;
		li {
			a {
				border-bottom: 0px;
			}
		}
		.dropdown {
			margin-left: 20px;
		}
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	#inner-content {
		padding: 1rem 0rem;
	}
}

.single-title,
.page-title {
	
}

.single-title {
	
}

.page-title {
	
	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

.archive-title {

}

// Post meta  
.byline {
	color: #999;
	time {}
}

// Entry content  
.entry-content {
	
	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft { 
		margin-right: 1.5em; 
		display: inline; 
		float: left; 
	}
	.alignright, img.alignright { 
		margin-left: 1.5em; 
		display: inline; 
		float: right; 
	}
	.aligncenter, img.aligncenter { 
		margin-right: auto; 
		margin-left: auto; 
		display: block; 
		clear: both; 
	}
			
	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

} 

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption  
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} 

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
	.gallery {

		dl {

			a {}

			img {}

		}

		dt {}

		dd {}

} 

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth  
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes  
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard  
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard  


	// comment meta  
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content  
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content  

	// comment reply link  
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {
		
		}

	} // end .commentlist .comment-reply-link  

} // end .commentlist  

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation  
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment submit button  
#submit {}

// comment form title  
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link  
#cancel-comment-reply {
	a {}
}

// logged in comments  
.comments-logged-in-as {}

// allowed tags  
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments  
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
	ul {
		margin: 0;

		li {
			list-style: none;

			&:first-child {}

			&:last-child {}

			a {}

			// deep nesting  
			ul {}

		}
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
	margin-top: 1em;
}
	
/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}


.row {
    max-width: 65rem;
}

.off-canvas {
	background:#fff;
	.topper {
		margin:0;
		padding:15px;
		background:rgba(0,0,0,0.8);
		color:rgba(255,255,255,0.8);
		font-size: 0.8em;
		font-weight:bold;
		text-transform: uppercase;
	}
	.menu.vertical li {
	    border-bottom: solid 1px rgba(0,0,0,0.06);
	}
	.menu .active a {
	    color: #980033;
	    background:transparent;
	}
	.menu a {
	    color: rgba(0,0,0,0.6);
	}
}

.top-bar {
	background:#fff;
	padding: 25px 25px 0 25px;
	#site-logo {
		max-width:300px;
	}
	.small-logo {
		#site-logo {
			float: left;
			max-width: 250px;
			margin-bottom:10px;
			@media(max-width:480px){
				max-width: 205px;
				margin-left: -15px;
			}
		}
		.toggleness {
			float: right;
			color: $primary-color;
			margin:5px -10px 0 0;
			padding:10px;
			z-index: 9999;
			i {
				font-size: 1.65em;
				color: $primary-color;
			}
		}
	}
	.logo {
		@media(max-width:639px){
			text-align: center;
			margin-bottom: 5px;
			display: none;
			#site-logo {
				max-width: 225px;
			}
		}
	}
	.main-menu {
		@media(max-width:1023px){
			display:none;
		}
	}
	.text-right {
		h4 {
			padding:0;
			margin:-5px 0 0 0;
			font-size: 1.1em;
			color:$primary-color;
		}
		h2 {
			padding:0;
			margin:0;
			font-weight: bold;
			font-size: 1.5em;
		}
		p {
			padding:0 0 5px 0;
			margin:0;
			font-size: 0.85em;
			@media(max-width:750px){
				max-width:235px;
				float: right;
			}
		}
	}
	ul {
		background:none;
		font-family: 'Oxygen';
		float:right;
		margin-right:-15px;
		@media(max-width:1024px){
			margin:10px auto 0 auto;
			float:none;
			text-align: center;
			li {
				display:inline-block !important;
				float:none;
			}
		}
	}
	.menu .active a {
	    color: $primary-color;
	    background: none;
	    border-bottom: solid 4px $primary-color;
	}
	.menu a {
		border-bottom: solid 4px #fff;
	}
	.menu a:hover {
		border-bottom: solid 4px $primary-color;
	}
	.contact-small-menu {
		text-align: center;
		margin:0 auto;
		li {
			display:inline-block;
			margin:0;
			@media(max-width:400px){
				margin:0 -5px;
			}
		}
		a {
			color:#000;
			font-size: 0.8em;
			font-family: 'Oxygen';
			font-weight: bold;
		}
		i {
			font-size: 1.3em;
			color: $primary-color;
		}
	}
}



.home {
	article {
		text-align: center;
	}
	h3 {
		font-size:2em;
		font-weight: bold;
		margin-top:40px;
		@media(max-width:640px){
			font-size:1.5em;
		}
	}
	h1 {
		font-size:1.6em;
		margin-bottom: 20px;
		@media(max-width:640px){
			font-size:1.2em;
		}
	}
	article ul {
		max-width: 980px;
		margin:25px auto 25px auto;
		li {
			float: left;
			display: inline;
			width: 33%; 
			margin: 15px 0 15px 0; 
			font-size: 1em;
			text-align: left;
			padding: 0 15px 15px 35px;
			background: url('/wp-content/uploads/home-checkmark.png') top left no-repeat;
			strong {
				display:block;
				font-size: 1em;
			}
			@media(max-width:900px){
				width: 50%;
			}
			@media(max-width:520px){
				width: 100%;
			}	
		}
	}
}

#get-started {
	margin: 20px auto 5px auto; 
	padding: 9px 20px 10px 20px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#CCF2FF));
	background: -webkit-linear-gradient(#FFFFFF, #CCF2FF);
	background: -moz-linear-gradient(#FFFFFF, #CCF2FF);
	background: -ms-linear-gradient(#FFFFFF, #CCF2FF);
	background: -o-linear-gradient(#FFFFFF, #CCF2FF);
	background: linear-gradient(#FFFFFF, #CCF2FF);
	border:solid 1px rgba(0,0,0,0.2);
	text-align: center;
	font-size: 0.9em; 
	line-height: 18px;
	color: #000;
	display:inline-block;
	clear:both;
}

#get-started:hover {
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CCF2FF), to(#FFFFFF));
	background: -webkit-linear-gradient(#CCF2FF, #FFFFFF);
	background: -moz-linear-gradient(#CCF2FF, #FFFFFF);
	background: -ms-linear-gradient(#CCF2FF, #FFFFFF);
	background: -o-linear-gradient(#CCF2FF, #FFFFFF);
	background: linear-gradient(#CCF2FF, #FFFFFF);	
	color: #333;
}



#submenu {
	width: 100%; 
	max-width:980px;
	margin:40px auto;
	height: auto;
	overflow: hidden;
	@media(max-width:640px){
		margin:0 auto;
	}
}
#submenu a {
	float: left;
	display: block;
	margin: 0 0 0 24px;
	cursor: pointer;
	color: #000;
	@media(max-width:960px){
		float:none;
		margin: 30px auto 0 auto;
		padding-top:1px;
	}
}
#submenu #left {
	width: 283px; 
	height: 73px;
	background: transparent url('/wp-content/uploads/home-left-col-bg.png') no-repeat left top;
}
#submenu #mid {
	width: 320px; 
	height: 83px;
	background: transparent url('/wp-content/uploads/home-mid-col-bg.png') no-repeat left top;
	@media(max-width:325px){
		width: 100%;
		border-right: solid 1px rgba(0,0,0,0.3);
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}
#submenu #right {
	width: 283px; 
	height: 73px;
	background: transparent url('/wp-content/uploads/home-right-col-bg.png') no-repeat left top;
}
#submenu #left:hover,
#submenu #mid:hover,
#submenu #right:hover {
	background-position: left bottom;	
}
#submenu p {
	display: block;	
	margin: 16px 0 0 60px;
	font-size: 0.9em; 
	line-height: 20px;
	text-align: Center;
}
#submenu p strong {
	font-size: 1.4em;
	display:block;
	clear:both;	
}


#content #about {
	height: auto;
	overflow: hidden;  
	margin: 20px 0 0 0; 
	padding: 20px 0;
	border-top: 3px double rgba(0,0,0,0.1);
}
#content #about #left {
	float: left;
	width: 47%; 
	height: auto;
	@media(max-width:800px){
		width: 100%;
	}
}
#content #about #right {
	float: right;	
	width: 47%; 
	height: auto;
	@media(max-width:800px){
		width: 100%;
		margin-top:25px;
	}
}

#content #about h2 {
	margin: 0 0 10px 0; 
	padding: 0;	
	font-size:21px; 
	line-height: 22px;
}

#content #about h2 span {
	font-size: 13px;
}

#content #about #left img,
#content #about #right img {
	border: 1px solid #98012E;
	background: #f1f1f1;
	padding: 4px;	
}

#content #about p:last-child {
	margin: 0; padding: 0 0 20px 0;	
	border-bottom: 3px solid #98012E;
}


.services {
	height: auto; 
	overflow: hidden;
	margin: 0px 0 0 0; 
	padding: 0;
}
.services .left {
	float: left;
	width: 47%; 
	height: auto;
	@media(max-width:800px){
		width: 100%;
	}
}
.services .right {
	float: right;	
	width: 47%; 
	height: auto;
	@media(max-width:800px){
		width: 100%;
	}
}
.services h2 {
	margin: 0 0 10px 0; 
	padding: 0 0 10px 0;
	border-bottom: 2px solid #333;
	color: $primary-color;
	font-size:1.4em;
}


.services-right-bottom {
	margin-top:50px;
	@media(max-width:800px){
		margin-top: 0;
	}
}




.post-type-archive-faqs {
	article {
		margin-top:20px;
		h2 {
			font-size: 1.6em;
		}
		footer {
			border-bottom:double rgba(0,0,0,0.1);
			margin-bottom: 30px;
			padding-bottom:20px;
		}
	}
}

ul.testimonials-slider-full {
	margin-left:0 !important;
}

.page-id-10 {
	blockquote {
		margin-top:20px;
		border:none;
		text-align:left;
		margin-right:145px;
		font-size: 0.95em;
		p {
			color:#111;
		}
		footer {
			font-size: 1.4em;
			color:$primary-color !important;
			font-family:'Oxygen';
			border-bottom:double rgba(0,0,0,0.1);
			margin-bottom: 30px;
			padding-bottom:20px;
		}
	}
}


#content #address {
	float: left;
	margin: 0; 
	padding: 0;
	width: 43%; 
	height: auto;
	h5, h6 {
		font-weight: bold;
	}	
	@media(max-width:800px){
		width: 100%;
	}
}

#content #contact {
	float: right;
	width: 53%; 
	height: auto;
	margin: 0; 
	padding: 0;	
	position: relative;
	h5, h6 {
		font-weight: bold;
	}
	@media(max-width:800px){
		width: 100%;
		margin-top:25px;
	}
}

.sidebar {
	padding-left: 20px;
	font-size:0.9em;
}

.testimonials-wrap {
	max-width:1024px;
	text-align:center;
	margin-top:40px;
	@media(max-width:800px){
		.tslider blockquote footer {
			text-align: center;
			margin-bottom: 15px;
		}
	}
	blockquote {
		border:none;
		text-align: right;
		margin-right:145px;
		font-size: 0.85em;
		@media(max-width:800px){
			text-align: center;
		}
		footer {
			font-size: 1.4em;
			color:$primary-color !important;
			font-family:'Oxygen';
		}
	}
}

.outlinebutton {
	font-size:0.85em;
	padding:5px;
	clear:both;
	display:block;
}

.footer {
	padding:30px 0;
	margin:20px auto;
	text-align:center;
	color:rgba(0,0,0,0.9);
	font-size:0.85em;
	font-family:'Oxygen';
	clear:both;
	display:block;
	#inner-footer {
		margin-top:30px;
		border-top:solid 1px rgba(0,0,0,0.1);
		padding:20px;
		a {
			color: rgba(0,0,0,0.9);
			margin-left:5px;
			padding-right:5px;
		}
		div {
			@media(max-width:1024px){
				text-align: center;
			}
		}
	}
	img {
		max-width: 220px;
		margin:0 auto;
	}
	.menu .active a {
		color:$primary-color !important;
		background:none;
		border-bottom:solid 2px;
	}
	ul {
		margin:0;
		padding:0;
		li {
			margin:0;
			padding:0;
			display: inline-block;
			a {
				margin:0;
				padding: 10px;
			}
		}
	}
	ul li a:hover {
		border-bottom:solid 2px;
	}
	.copyright {
		padding:6px;
		@media(max-width:640px){
			margin-top:10px;
		}
	}
}


div.wpcf7-response-output {
    margin: 20px 0;
    padding: 10px;
    border: solid 2px rgba(0,0,0,0.2) !important;
    font-family: 'Oxygen';
    font-size: 1.3em;
    font-style: italic;
    color: rgba(0,0,0,0.5);
    text-align: center;
}